* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(1, 39, 58);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionLogo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
}

.menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.menuA {
    width: 100%;
    height: 48px;
    font-size: 25px;
    color: rgb(0, 197, 203);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    background-color: rgb(38, 37, 42);
    display: flex;
    justify-content: center;
    align-items: center;

}
.textoDoEndereço{
    color:rgb(0, 197, 203);
}



@media(max-width:500px) {
    .menuA {
        font-size: 10px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 50%;
    }

    .endereço {
        width:90%;
        display: flex;
        align-items: center;   
        justify-content: center;
    }
    }