* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: rgb(1, 39, 58);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sectionLogo{
    border:solid 2px red;
    display:flex;
    justify-content: center;
}
.logo{
    width: 59%;
    border: solid 3px red;
}